<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SENDDATA" connectionString="SERVER=PRITESH\SQLEXPRESS2008;DATABASE=RMS;UID=sa;PASSWORD=sa@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="STARTDATE" value="2020/09/01"/>
    <add key="DISPLOG" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
